<section class="main">
  <div class="container">
    <div class="logo-name">
      <img src="#" alt="Logo" class="logo">
      <div class="brand-name">
        olala
      </div>
    </div>
    <div class="title">
      <p>Your Essential Crypto Companion</p>
    </div>
    <div class="sub-title">
      <p>
        Navigate the crypto landscape with confidence. Your AI-powered tracker delivers real-time insights and personalized analytics, simplifying your investment journey and maximizing your portfolio's potential.
      </p>
    </div>

  </div>
</section>
