<header class="welcome-header">
  <div class="container">
    <div class="logo">
      <img alt="" src="">
    </div>

    <div class="menu">
      <p-button (click)="sidebarVisible = true" class="burger-button" icon="pi pi-bars" type="button"></p-button>

      <p-sidebar #sidebar (onHide)="sidebar.destroyModal()" [(visible)]="sidebarVisible" [baseZIndex]="10000"
                 class="sidebar" position="right">
        <h2 class="sidebar-title">Right Sidebar</h2>
        <nav class="navigation">
          <p-button (click)="navigateTo(PublicRoutes.SignIn)" class="sign-in-button" type="button">
            <i class="pi pi-sign-in"></i>
            <p class="sign-in-text">Sign in</p>
          </p-button>

          <ul class="menu-list">
            <li class="menu-item">
              <a (click)="navigateTo(PublicRoutes.Home)" class="menu-link">Home</a>
            </li>
            <li class="menu-item">
              <p-dropdown [options]="resources" class="resources-dropdown" placeholder="Resources"></p-dropdown>
            </li>
          </ul>
        </nav>
      </p-sidebar>
    </div>

  </div>
</header>
